.menu {

 margin-top: 50px;
 
  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 1rem;
    list-style: none;

    li {
      margin: 0 12px;
    }

 

  a {
  font-size: 1.4rem;
            padding: 7px 15px;
            margin: 0;
            border-radius: 4%;
            transition: all .4s ease-in-out;
            width: 70px;
            text-decoration: none; 

    &:hover {
      text-decoration: underline;     
    }
    
    
  }


  ul {


    @media (prefers-color-scheme: light) {
      background: $light-background-header;
    }
    
    [data-theme=dark] & {
      background: $dark-background-header;
    }
  
    [data-theme=light] & {
      background: $light-background-header;
    }
  }
     
.submenu {
  background: $light-background-header;

  @media (prefers-color-scheme: dark) {
    background: $dark-background-header;
  }

  @media (prefers-color-scheme: light) {
    background: $light-background-header;
  }

  [data-theme=dark] & {
    background: $dark-background-header;
  }

  [data-theme=light] & {
    background: $light-background-header;
  }
  }
    
}

}



